<div class="container main-content">
  <div class="row">

    <div class="span3">
      <div class="row">
        <div class="well">
          <h4 class="highlight-header text-center">Your Friends</h4>
          <hr>
          <ol>
            <% if @friends.blank? %>
                <i>You have no friends :( </i>
            <% else %>
                <% @friends.each do |friend| %>
                    <%= friend.email %>
                    <%= friend.user_name %>
                    <%= friend.friendship_status_string %>
                    <% if friend.friendship_status == 0 %>
                        <span class="highlight"><i>Be Patient</i></span>
                    <% elsif friend.friendship_status == 1 %>
                        <%= button_to "Accept Friend", update_friendship_path(friendship), method: :put %>
                    <% elsif friend.friendship_status == 2 %>
                        <%= button_to "Remove Friend", delete_friendship_path(friendship), method: :delete %>
                    <% end %>
                <% end %>
            <% end %>
          </ol>
        </div>


        <div class="well">
          <h4 class="highlight-header text-center">Pending Friend Requests</h4>
          <hr>
          <ol>
            <% if @friends.blank? %>
                <i>You have no friends :( </i>
            <% else %>
                <% @friends.each do |friend| %>
                    <%= friend.email %>
                    <%= friend.user_name %>
                    <%= friend.friendship_status_string %>
                    <% if friend.friendship_status == 0 %>
                        <span class="highlight"><i>Be Patient</i></span>
                    <% elsif friend.friendship_status == 1 %>
                        <%= button_to "Accept Friend", update_friendship_path(friendship), method: :put %>
                    <% elsif friend.friendship_status == 2 %>
                        <%= button_to "Remove Friend", delete_friendship_path(friendship), method: :delete %>
                    <% end %>
                <% end %>
            <% end %>
          </ol>
        </div>
      </div>
    </div>

    <div class="span9" id="friend-search-body" ng-controller="Graph">
      <div class="row">
        <div class="span9">
          <h3 class="highlight-header">Search Users</h3>

          <p>
            <%= form_tag 'friendships', :method => 'get' do %>
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag "Search", :name => nil %>
            <% end %>
          </p>
          <hr>
        </div>
      </div>


      <div class="row">
        <div class="span9">
          <div class="user-search-results-body">
            <% if @query.blank? %>
                <h4 class="highlight-header text-center">All Users</h4>
            <% else %>
                <h4 class="highlight-header text-center">Results for "<%= @query %>"</h4>
            <% end %>

            <ul class="media-list">
              <% for user in @results %>
                  <% profUrl = "users/" + user.id.to_s %>
                  <li class="media">
                    <a class="pull-left" href="<%= profUrl %>">
                      <img class="media-object" src="<%= avatar_url(user) %>">
                    </a>

                    <div class="media-body">
                      <h4><a href="profUrl"><%= user.user_name %></a></h4>
                    </div>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
