
<div id="wrap">
	<!-======= HEADER ========->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="pull-left">
					<a class="brand" href="#">Relation Capital</a>
				</div>
				<div class="nav-collapse collapse">
					<div class="navbar-form pull-right">
						<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
							<%= f.text_field(:email, class: "span2", placeholder: "email") %>
							<%= f.password_field(:password, class: "span2", placeholder: "password") %>
							<%= f.submit(:enter, class: "btn btn-inverse sign-in-button-header") %>
						<% end %>
          </div>
				</div>
			</div>
		</div>
	</div>
	
	<!-======= END HEADER ========->
	
	<!-======= BODY ========->
	<div class="container main-content">
		<div class="row body-content hero-unit">
			<div class="span5">
				<div class="rc-details-container">
					<h3>Start Building Your <span class="highlight-header">Relationship Capital</span> <i>Today!</i></h3>
					<ul>
						<li><%= image_tag("point.png", size: "30x30") %><span class="highlight">Point 1.</span> Some very engaging details about this point</li>
						<li><%= image_tag("point.png", size: "30x30") %><span class="highlight">Point 2.</span>Some very engaging details about this point</li>
						<li><%= image_tag("point.png", size: "30x30") %><span class="highlight">Point 3.</span>Some very engaging details about this point</li>
					</ul>
					<hr>
					<%= link_to("Sign up", sign_up_path, class: "btn btn-success" ) %>
				</div>
			</div>
			<div class="offset1 span4">
				<div class="landing-picture">
					<p><center>Picture of some sort</center></p>
				</div>
			</div>
		</div>
	</div>
	
		<div id="push"></div>
	</div>
	
<%= render "layouts/footer" %>