<div class="row">

	<div class="span3">
		<div class="row">
			<div class="well">
				<h4 class="highlight-header text-center"><%= @user.user_name %>'s Dashboard</h4><hr>
				<center><%= image_tag(avatar_url(@user), size: "100x100") %></center>
				<hr>
				<p class="rcScoreElement">Relation Capital Score:</p>
				<h2 id="rcScore" class="rcScoreElement"><%= @user.r_c_score %></h2>
				<p class="rcScoreElement"><%= link_to("More Info", "#") %></p>
			</div>
		</div>

		<%= render "layouts/ongoing_commitments"%>
		<%= render "layouts/ongoing_requests"%>

		
	</div>
	
	<div class="span9" id="graph-body" ng-controller="Graph">
		<div class="well">
			<h4 class="highlight-header">Stats
				<span> | <a href="#">Commitments</a> |</span>
				<span><a href="#">Fulfilled Commitments</a> |</span>
				<span><a href="#">Requests</a> |</span>
			</h4>
			<hr>
			
			<div class="user-graph">
			</div>
			<hr>
			<h4 class="highlight-header">Additional Info</h4>
			<p>something something shome</p>
		</div>
	</div>
	
</div>